# Ignore development files
src-tauri/rustup-init.exe
src-tauri/vs_BuildTools.exe
.vscode/
.venv/
convert_models.R
*.log
*.tmp
node_modules/

# Ignore build outputs
src-tauri/target/

# Keep release package only
!release/
!release/**
